.login-helperText p{
    margin-left: 200px;
    }
    
    .css-o5ropr-MuiPieArcLabel-root {
        fill: #ffffffe0 !important;
        text-anchor: middle;
        dominant-baseline: middle;
        pointer-events: none;
        font-weight: 900;
        /* font-size: x-large; */
        font-weight: bold;
    }