.login-helperText p{
    margin-left: 200px;
    }
    
    .css-o5ropr-MuiPieArcLabel-root {
        fill: #ffffffe0 !important;
        text-anchor: start;
        dominant-baseline: start;
        pointer-events: none;
        font-weight: 500;
        /* font-size: x-large; */
        font-weight: bold;
        margin-bottom: 30px;
    }